<a href="https://colab.research.google.com/github/mgsoares1984/SoulCode/blob/main/etl_otimizado_gabi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
##leitura do arquivo com a biblioteca pandas
df = pd.read_csv('https://storage.googleapis.com/dados-projeto-gabi/dados-brutos/tabela_funcionarios%20-%20tabela_funcionarios.csv')
df = df.to_string(header=False, index=False).split('\n')
funcionarios = df
display(df)

['  Carlos 34.0 3500.0    Analista',
 '   Maria 45.0 4500.0     Gerente',
 '    João 23.0    NaN  Assistente',
 '     Ana  NaN 5000.0 Coordenador',
 '   Lucas 30.0 3900.0         NaN',
 '   Paula 29.0 4200.0  Supervisor',
 '  Renato 56.0 5500.0     Diretor',
 'Fernanda  NaN    NaN  Assistente',
 ' Marcelo 41.0 4800.0    Analista',
 ' Luciana 25.0 4200.0 Coordenador',
 ' Ricardo 38.0 5200.0     Gerente',
 ' Adriana 43.0 5500.0  Assistente',
 '    José 29.0 4800.0         NaN',
 '  Camila 34.0 5000.0    Analista',
 '  Rafael  NaN    NaN     Gerente',
 '   Paulo 22.0 3500.0 Coordenador',
 '   Carla 41.0 4200.0  Supervisor',
 ' Eduardo 50.0 5000.0  Assistente',
 ' Larissa 35.0 6000.0     Gerente',
 '   Mário 28.0 3900.0 Coordenador']

In [ ]:
# Filtrar funcionários sem campos "NaN"
funcionarios_filtrados = [
    func for func in funcionarios if "NaN" not in func
]

# Exibe o resultado
print("Funcionários filtrados:")
for func in funcionarios_filtrados:
    print(func)

Funcionários filtrados:
  Carlos 34.0 3500.0    Analista
   Maria 45.0 4500.0     Gerente
   Paula 29.0 4200.0  Supervisor
  Renato 56.0 5500.0     Diretor
 Marcelo 41.0 4800.0    Analista
 Luciana 25.0 4200.0 Coordenador
 Ricardo 38.0 5200.0     Gerente
 Adriana 43.0 5500.0  Assistente
  Camila 34.0 5000.0    Analista
   Paulo 22.0 3500.0 Coordenador
   Carla 41.0 4200.0  Supervisor
 Eduardo 50.0 5000.0  Assistente
 Larissa 35.0 6000.0     Gerente
   Mário 28.0 3900.0 Coordenador

In [ ]:
# Inicializa as listas
nomes = []
idades = []
salarios = []
cargos = []

# Processa cada linha da lista filtrada
for linha in funcionarios_filtrados:
    partes = linha.split()  # Divide os dados por espaços em branco
    nomes.append(partes[0])  # Primeiro elemento é o nome
    idades.append(int(float(partes[1])))  # Converte idade para inteiro
    salarios.append(float(partes[2]))  # Converte salário para float
    cargos.append(partes[3])  # O cargo é o quarto elemento

# Exibe as listas separadas
print(nomes)
print(idades)
print(salarios)
print(cargos)

['Carlos', 'Maria', 'Paula', 'Renato', 'Marcelo', 'Luciana', 'Ricardo', 'Adriana', 'Camila', 'Paulo', 'Carla', 'Eduardo', 'Larissa', 'Mário']
[34, 45, 29, 56, 41, 25, 38, 43, 34, 22, 41, 50, 35, 28]
[3500.0, 4500.0, 4200.0, 5500.0, 4800.0, 4200.0, 5200.0, 5500.0, 5000.0, 3500.0, 4200.0, 5000.0, 6000.0, 3900.0]
['Analista', 'Gerente', 'Supervisor', 'Diretor', 'Analista', 'Coordenador', 'Gerente', 'Assistente', 'Analista', 'Coordenador', 'Supervisor', 'Assistente', 'Gerente', 'Coordenador']

In [ ]:
# Lista de idades
print(idades)
print(type(idades[0]))

[34, 45, 29, 56, 41, 25, 38, 43, 34, 22, 41, 50, 35, 28]
<class 'int'>

In [ ]:
# Lista de Salarios
print(type(salarios[0]))

<class 'float'>

In [ ]:
#preparando os dados para o DF
dados = []
for linha in funcionarios_filtrados:
    partes = linha.split()  # Divide os dados por espaços em branco
    nome = partes[0]
    idade = int(float(partes[1]))
    salario = float(partes[2])
    cargo = partes[3]
    dados.append([nome, idade, salario, cargo])

# Criando o DataFrame
df = pd.DataFrame(dados, columns=["Nome", "Idade", "Salário", "Cargo"])

# Exibindo o DataFrame
print(df)

       Nome  Idade  Salário        Cargo
0    Carlos     34   3500.0     Analista
1     Maria     45   4500.0      Gerente
2     Paula     29   4200.0   Supervisor
3    Renato     56   5500.0      Diretor
4   Marcelo     41   4800.0     Analista
5   Luciana     25   4200.0  Coordenador
6   Ricardo     38   5200.0      Gerente
7   Adriana     43   5500.0   Assistente
8    Camila     34   5000.0     Analista
9     Paulo     22   3500.0  Coordenador
10    Carla     41   4200.0   Supervisor
11  Eduardo     50   5000.0   Assistente
12  Larissa     35   6000.0      Gerente
13    Mário     28   3900.0  Coordenador

In [ ]:
#configurando autenticação e enviando para gcp
from google.colab import auth
from google.cloud import storage
auth.authenticate_user()
project_id = 'fresh-weft-454900-c7' #aqui cada uma coloca o id do seu projeto
!gcloud config set project {project_id}
client = storage.Client()
bucket_name = 'dados-projeto-gabi' #aqui cada uma coloca o nome do seu bucket
bucket = client.bucket(bucket_name)

df.to_csv('tratados.csv', index=False)
destination_blob_name = 'dados-tratados/tratados.csv' #primeiro nome da pasta e depois nome do arquivo
source_file_name = 'tratados.csv'

blob = bucket.blob(destination_blob_name)
blob.upload_from_filename(source_file_name)

Updated property [core/project].